.sl_button {
	text-transform: none;
	font-size: 1.25rem;
	padding: $spacing--xs $spacing--sm;
	background-color: get-color(primary);
	color: get-color(inverse);
	margin-bottom: $spacing--sm;
	line-height: 1;
	display: inline-block;
	letter-spacing: 0;
	text-align: center;
	@include transition (all .2s ease-in-out);

	&:hover {
		@include transition (all .2s ease-in-out);
	}//end &:hover

	&--primary {
		background-color: get-color(accent1);

		&:hover {
			background-color: get-color(inverse);
			color: get-color(accent1);
		}//end &:hover
	}//end &--primary

	&--border {
		background: none;
		border: 2px solid get-color(inverse);

		&:hover, &:focus {
			background-color: get-color(inverse);
			color: get-color(accent1);
		}//end &:hover
	}//end &--border

	&--border-dark {
		background: none;
		border: 2px solid get-color(default);
		color: get-color(default);

		&:hover {
			background-color: get-color(default);
			color: get-color(inverse);
		}//end &:hover
	}//end &--border-dark

	&--secondary {
		background-color: get-color(accent3);

		&:hover {
			background-color: darken(get-color(accent3), 10%);
			color: get-color(inverse);
		}//end &:hover
	}//end &--secondary

	&--small {
		border: 2px solid get-color(default);
		background: none;
		color: get-color(default);
		font-size: 1.125rem;
		padding: $spacing--xs/2 $spacing--xs;
		font-weight: $font-weight--regular;

		&:hover {
			background-color: get-color(primary);
			color: get-color(inverse);
			border-color: get-color(primary);
		}//end &:hover
	}//end &--small

	&--phone {
		background: none;
		color: get-color(accent3);
		font-size: 2rem;
		padding: 0;
	}//end &--phone

	&--simple {
		background: none;
		padding: 0;
		color: get-color(accent3);

		&:after {
			content:'';
			width: 9px;
			height: 14px;
			display: inline-block;
			margin-left: $spacing--xs;
			background-image: url('../../images/icon/chevron-right.svg');
			background-size: 100% 100%;
			background-repeat: no-repeat;
			@include transition (all .3s ease-in-out);
		}//end &:after

		&:hover {
			color: get-color(accent3);

			&:after {
				transform: translateX(4px);
				@include transition (all .3s ease-in-out);
			}//end &:after
		}//end &:hover
	}//end &--simple
}//end .sl_button

.sl_button-group {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;

	.sl_button {
		margin-bottom: 0;
		flex: 1 0 auto;

		@include breakpoint (small only) {
			width: 100%;
		}//end small only breakpoint
	}//end .sl_button

	& > :first-child {
		margin-right: $spacing--xs;

		@include breakpoint (small down) {
			margin-right: 0;
			margin-bottom: $spacing--xs;
		}//end small down breakpoint
	}//end & > :first-child

	@include breakpoint (small down) {
		flex-direction: column;
	}//end small down breakpoint
}//end .sl_button-group