.programs {

    @include breakpoint (small only) {
        padding-top:15px;
        margin-left: 2rem;
        margin-right: 2rem;
    }//end small only breakpoint

    .programs-content {
        padding-right: 60px;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 0;

        @include breakpoint (small only) {
            padding-top: 0;
            padding-left: 0;
            padding-right: 0;
        }//end small only breakpoint

        @include breakpoint (medium only) {
            padding: 2rem;
        }//end small only breakpoint

        #the-content {
            padding-top: 30px;
        }
    }

    .reputation{

        padding-top: 60px;
        padding-left: 60px;
        padding-bottom: 60px;
        padding-right: 0;

        @include breakpoint (small only) {
            padding: 0px 0px 15px 0px;
        }//end small only breakpoint

        @include breakpoint (medium only) {
            padding: 2rem;
        }//end small only breakpoint

        @include breakpoint (large only) {
            padding-left: 30px;
            padding-right: 15px;
        }//end small only breakpoint

        &--container {
            border-top: 5px solid #67BFDE;
            box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
            padding: 32px;
        }

        h2 {
            font-size: 2rem;
            color: #303036;
            text-align: center;
        }
    }
}