.sl_reveal {
	padding: $spacing--md $spacing--sm;
	text-align: left;
	border-radius: $border-radius;
	border: none;

	&--video {
		padding: 0;
		overflow: visible;
		width: auto;

		@include breakpoint (small only) {
			margin: 0 auto;
    		height: auto;
    		min-height: 0;
    		max-width: 90%;
		}//end small only breakpoint

		.responsive-embed {
			margin-bottom: 0;
			border-radius: $border-radius;

			@include breakpoint (small only) {
				border-radius: $border-radius/2;
			}//end small only breakpoint
		}//end .responsive-embed

		.close-button {
			color: get-color(primary);
			right: -1rem;
			top: -1rem;
			background-color: get-color(inverse);
			padding: $spacing--xs/2 $spacing--xs * .75;
			border-radius: $border-radius/2;
			font-size: 1.5rem;

			@include breakpoint (small only) {
				position: fixed;
				top: 1rem;
				right: 1rem;
			}//end small only breakpoint
		}//end .close-button
	}//end &--video
}//end .sl_reveal

.reveal-overlay {
	padding-top: 6rem;
	z-index: 9999;
	background-color: rgba(get-color(secondary), .8);
}//end .reveal-overlay