$site-palette: (
  primary:    #186191,
  secondary:  #003763,
  default:    #1B2F3A,
  inverse:    #FFFFFF,
  accent1:    #42C9B3,
  accent2:    #009884,
  accent3:    #4AABE8,
);

//Merging site palette into default foundation palette
$foundation-palette: map-merge(
  (
  primary: #1779ba,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
  ),
  $site-palette
);