.sl_module {
	position: relative;
}//end .sl_module

.sl_inner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 $spacing--xl*2;

    @include breakpoint (xlarge only) {
    	padding: 0 $spacing--xxxl;
    }//end xlarge only breakpoint

    @include breakpoint (large only) {
    	padding: 0 $spacing--xxl;
    }//end large only breakpoint

    @include breakpoint (medium only) {
    	padding: 0 $spacing--md;
    }//end medium only breakpoint

    @include breakpoint (small only) {
    	padding: 0 $spacing--sm;
    }//end small only breakpoint

    &--expanded {
        max-width: none;
        padding: 0;
    }//end &--expanded
}//end .sl_inner