#sl_professionals {
    .sl_module {
        padding-bottom: $spacing--xxl;

        @include breakpoint (medium only) {
            padding-bottom: $spacing--lg;
        }//end medium only breakpoint

        @include breakpoint (small only) {
            padding-bottom: $spacing--md;
        }//end small only breakpoint

        p {
            font-family: $font--body;
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 1.25;
            color: get-color(default);
        }//end p

        h1,h2,h3,h4,h5,h6 {
            font-family: $font--heading;
            letter-spacing: 0;
            text-transform: none;
            color: get-color(default);
        }//end headings

        h2 {
            font-size: 3rem;
            line-height: 1;
            margin-bottom: $spacing--sm;

            @include breakpoint (small only) {
                font-size: 2.25rem;
            }//end small only breakpoint
        }//end h2

        ul {
            font-size: 1.25rem;
            line-height: 1.25;
            font-weight: $font-weight--regular;
            p:empty {
                display: none;
            }//end empty p

            li {
                margin-bottom: $spacing--xs/2;
            }//end li
        }//end ul
    }//end .sl_module

    .sl_billboard {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right center;
        padding: 0;

        @include breakpoint (small only) {
            background-position: 75% center;
        }//end small only breakpoint
    
        &:after {
            content: '';
            background: linear-gradient(270deg, rgba(0, 104, 156, 0) 0%, #186191 70%);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;    
        }//end &:after

        .sl_inner {
            position: relative;
            z-index: 1;
        }//end .sl_inner

        &__card {
            padding: $spacing--xxl 0;
            max-width: 800px;

            h1 {
                color: get-color(inverse);
                line-height: 1.25;
                margin-bottom: $spacing--md;

                @include breakpoint (small only) {
                    font-size: 2.25rem;
                }//end small only breakpoint
            }//end h1
        }//end &__card

        .sl_button-group {
            width: auto;
            align-items: stretch;
            justify-content: flex-start;

            .sl_button {
                flex: 0 1 auto;
            }//end .sl_button
        }//end .sl_button-group
    }//end .sl_billboard

    .sl_quote {
        padding-top: $spacing--xxl;

        @include breakpoint (medium only) {
            padding-top: $spacing--lg 0;
        }//end medium only breakpoint

        @include breakpoint (small only) {
            padding-top: $spacing--md
        }//end small only breakpoint

        blockquote {
            border: none;
            text-align: center;
            font-size: 1.5rem;
            line-height: 1.25;
            color: #9BA2AE;
            font-family: $font--heading;
            font-style: italic;
            font-weight: $font-weight--regular;
            max-width: 900px;
            margin: 0 auto;
            padding-left: 0;

            & > strong {
                color: #9BA2AE;
            }//end strong

            cite {
                font-family: $font--body;
                color: get-color(accent3);
                font-size: 1.5rem;
                line-height: 1.25;
                text-transform: none;
                letter-spacing: 0;
                &:before {
                    display: none;
                }//end &:before
            }//end cite
        }//end blockquote

        &--duo {

             & > .sl_inner {
                & > .sl_row {
                    @include breakpoint (small only) {
                        display: flex;
                        flex-direction: column;
                    }//end small only breakpoint
                }//end & > .sl_row
            }//end & > .sl_inner

            blockquote {
                text-align: left;
                font-family: $font--body;
                font-size: 2rem;
                line-height: 1.25;
                font-style: normal;

                @include breakpoint (small only) {
                    font-size: 1.5rem;
                }//end small only breakpoint

                cite {
                    padding-top: $spacing--sm;
                    color: get-color(default);
                    font-family: $font--heading;
                    font-weight: $font-weight--regular;

                    @include breakpoint (small only) {
                        font-size: 1.25rem;
                    }//end small only breakpoint

                    strong {
                        display: block;
                        color: get-color(default)
                    }//end strong
                }//end cite
            }//end blockquote

            .sl_quote {

                &__content {
                    padding-left: 0;
                    padding-right: $spacing--md;

                    @include breakpoint (small only) {
                        padding-right: 0;
                        order: 2;
                    }//end small only breakpoint
                }//end &__content

                &__media {
                    padding-right: 0;
                    padding-left: $spacing--md;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include breakpoint (small only) {
                        padding-left: 0;
                        order: 1;
                        margin-bottom: $spacing--md;
                        padding: 0 $spacing--md;
                    }//end small only breakpoint
                }//end &__media

                &__image {
                    border-radius: 50%;
                    max-width: 400px;
                    width: 100%;
                    height: auto;
                }//end &__image
            }//end .sl_quote
        }//end &--duo
    }//end .sl_quote

    .sl_duo {
        & > .sl_inner {
            @include breakpoint (small only) {
                padding: 0;
            }//end small only breakpoint
            & > .row {
                position: relative;
            }//end & > .row
        }//end .sw_inner

        &__media {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            width: 60%;

            @include breakpoint (small only) {
                width: 100%;
                padding: 0;
                height: 300px;
                position: static;
            }//end small only breakpoint
        }//end &__media

        &__image {
            height: 100%;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }//end &__image

        &__content {
            padding: $spacing--md 0;

            @include breakpoint (small only) {
                padding: 0 $spacing--sm;
                margin-top: -$spacing--xxl;
            }//end small only breakpoint
        }//end &__content

        &__card {
            background-color: get-color(primary);
            padding: $spacing--md;
            color: get-color(inverse);

            @include breakpoint (small only) {
                padding: $spacing--xs;
            }//end small only breakpoint

            p {
                color: get-color(inverse);
            }//end p
        }//end &__card
    }//end .sl_duo
    
    .sl_staff {
        & > .sl_inner {
            & > p {
                margin-bottom: $spacing--sm;
            }//end & > p
        }//end & > .sl_inner

        &__grid {
            display: flex;
            flex-flow: row wrap;
            margin-bottom: $spacing--sm;

            &:before, &:after {
                display: none;
            }//end &:before

            .sl_cell {
                margin-bottom: $spacing--sm;
                float: none;

                @include breakpoint (small only) {
                    padding: 0;

                    &:last-of-type {
                        margin-bottom: 0;
                    }//end &:last-of-type
                }//end small only breakpoint
            }//emd .sl_cell
        }//end &__grid

        &__card {
            height: 100%;
            overflow: hidden;
            border-radius: $border-radius;
            box-shadow: $shadow;
            position: relative;

            &__image {
                min-height: 350px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center 25%;
            }//end &__image

            &__content {
                padding: $spacing--sm;
                padding-bottom: $spacing--sm + $spacing--sm + 2rem;
            }//end &__content

            h3 {
                font-family: $font--heading;
                font-size: 1.5rem;
                line-height: 1.25;
                margin-bottom: $spacing--xs/4;
                text-transform: none;
                letter-spacing: 0;
            }//end h3

            .sl_button {
                position: absolute;
                bottom: $spacing--sm;
                left: $spacing--sm;
                margin-bottom: 0;
            }//end .sl_button
        }//end &__card

        &__cta {
            text-align: center;
        }//end &__cta
    }//end .sl_staff
    
    .sl_dropdown {
        border-top: 14px solid get-color(accent3);
        background-color: get-color(secondary);
        padding: $spacing--xxl 0;

        @include breakpoint (medium only) {
            padding: $spacing--lg 0;
        }//end medium only breakpoint

        @include breakpoint (small only) {
            padding: $spacing--md 0;
        }//end small only breakpoint

        h2 {
            color: get-color(inverse);
        }//end h2

        &__accordion {
            background: none;
            margin: 0;
            border: none;
        }//end &__accordion

        &__item {
            background-color: get-color(inverse);
            margin-bottom: $spacing--xs;
            box-shadow: $shadow;
        }//end &__item

        &__title {
            border: none;
            color: get-color(default);
            font-size: 1.5rem;
            font-weight: $font-weight--bold;
            padding: $spacing--sm $spacing--md;
            padding-right: $spacing--sm + rem-calc(28px) + $spacing--xs;
            @include transition (all .2s ease-in-out);

            &:hover {
                @include transition (all .2s ease-in-out);
            }//end &:hover

            @include breakpoint (small only) {
                font-size: 1.25rem;
                padding: $spacing--xs;
                padding-right: $spacing--xs + rem-calc(21px) + $spacing--xs;
            }//end small only breakpoint

            &:before {
                content: '';
                width: 28px;
                height: 18px;
                background-image: url('../../images/icon/chevron-down.svg');
                background-size: 100% 100%;
                background-repeat: no-repeat;
                right: $spacing--md;

                @include breakpoint (small only) {
                    width: 21px;
                    height: 13px;
                    right: $spacing--xs;
                }//end small only breakpoint
            }//end &:before

            &:focus {
                background: none;
            }//end &:focus
        }//end &__title

        &__content {
            padding: 0 $spacing--md $spacing--sm;

            @include breakpoint (small only) {
                padding: 0 $spacing--xs $spacing--xs;
            }//end small only breakpoint

            & > :last-child {
                margin-bottom: 0;
            }//end & > :last-child
        }//end &__content

        .is-active {
            .sl_dropdown__title {
                background: none;
                &:before {
                    background-image: url('../../images/icon/chevron-up.svg');
                }//end &:before
            }//end .sl_dropdown__title
        }//end .is-active
    }//end .sl_dropdown

    .sl_cta {
        background-image: linear-gradient(180deg, get-color(inverse) 50%, get-color(secondary) 50%, get-color(secondary) 100%);
        padding-bottom: 0;
        &__card {
            border-top: 16px solid get-color(accent2);
            background-color: get-color(inverse);
            max-width: 800px;
            margin: 0 auto;
            box-shadow: $shadow;
            padding: $spacing--md;
            text-align:center;
        }//end &__card

        h2 {
            font-family: $font--body;
            margin-bottom: $spacing--md;
        }//end h2

        .sl_button-group {
            max-width: 400px;
            margin: 0 auto;
        }//end .sl_button-group
    }//end .sl_cta

    .sl_locations {
        background-color: get-color(secondary);
        padding: $spacing--xxl 0;

        @include breakpoint (large only) {
            padding: $spacing--lg 0;
        }//end large only breakpoint

        @include breakpoint (small only) {
            padding: $spacing--md 0;
        }//end small only breakpoint

        & > .sl_inner {
            & > .sl_row {
                display: flex;
                flex-flow: row wrap;

                &:before, &:after {
                    display: none;
                }//end &:before, &:after

                @include breakpoint (small only) {
                    flex-direction: column;
                }//end small only breakpoint
            }//end & > .sl_row
        }//end & > .sl_inner

        &__header {
            padding-left: 0;

            @include breakpoint (medium only) {
                width: 100%;
                margin-bottom: $spacing--lg;
            }//end medium only breakpoint
            h2 {
                color: get-color(inverse);
                line-height: 1.25;
            }//end h2

            p {
                color: get-color(inverse);
            }//end p
        }//end &__header

        &__items {
            @include breakpoint (small only) {
                padding: 0;
                margin-bottom: $spacing--sm;
            }//end small only breakpoint
        }//end &__items

        &__card {
            background-color: get-color(inverse);
            border-radius: $border-radius;
            overflow: hidden;
            box-shadow: $shadow;
            height: 100%;

            &__image {
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                min-height: 320px;
            }//end &__image

            &__content {
                padding: $spacing--sm;

                h3 {
                    font-size: 1.75rem;
                }//end h3

                & > :last-child {
                    margin-bottom: 0;
                }
            }//end &__content
        }//end &__card

        &__callout {
            padding-top: $spacing--xxl;
            text-align: center;

            @include breakpoint (small only) {
                padding-top: $spacing--md;
            }//end small only breakpoint

            p {
                font-size: 1.5rem;
            }//end p

            & > * {
                color: get-color(inverse) !important;
            }//end & > *

            & > :last-child {
                margin-bottom: 0;
            }//end & > :last-child
        }//end &__callout
    }//end .sl_locations

    .sl_wysiwyg {
        padding: $spacing--xxl 0;

        @include breakpoint (medium only) {
            padding: $spacing--lg 0;
        }//end medium only breakpoint

        @include breakpoint (small only) {
            padding: $spacing--md 0;
        }//end small only breakpoint

        h3,h4 {
            font-family: $font--body;
            margin: 0 auto $spacing--sm;

            @include breakpoint (small only) {
                font-size: 1.5rem;
            }//end small only breakpoint
        }//end h3, h4

        h4 {
            text-transform: uppercase;
            color: get-color(accent1);
            font-size: 1.5rem;
        }//end h4
    }//end .sl_wysiwyg


    .sl_contact {
        background-image: linear-gradient(180deg, get-color(inverse) 50%, get-color(secondary) 50%, get-color(secondary) 100%);
        padding-bottom: 0;

        &__card {
            border-radius: $border-radius;
            box-shadow: $shadow--dark;
            background-color: get-color(inverse);
            padding: $spacing--md $spacing--xxxl;
            text-align: center;

            @include breakpoint (medium only) {
                padding: $spacing--md;
            }//end medium only breakpoint

            @include breakpoint (small only) {
                padding: $spacing--xs;
            }//end small only breakpoint

            a {
                color: get-color(accent3);
                font-size: 2.25rem;
                text-decoration:underline;
                font-weight: $font-weight--bold;
                @include transition (all .3s ease-in-out);

                &:hover {
                    @include transition (all .3s ease-in-out);
                    color: get-color(primary);
                }//end &:hover

                @include breakpoint (small only) {
                    font-size: 1.5rem;
                    line-height: 1.25;
                }//end small only breakpoint
            }//end a
        }//end &__card
    }//end .sl_contact

    .sl_continuing-care {
        background-color: get-color(secondary);
        padding: $spacing--xxl 0;

        @include breakpoint (medium only) {
            padding: $spacing--lg 0;
        }//end medium only breakpoint

        @include breakpoint (small only) {
            padding: $spacing--md 0;
        }//end small only breakpoint

        & > .sl_inner {
            & > * {
                color: get-color(inverse) !important;
            }//end & > *

            h3 {
                font-family: $font--body;
            }//end h3
        }//end & > .sl_inner

        &__card {
            & > .row {
                display: flex;
                flex-flow: row wrap;

                &:before, &:after {
                    display: none;
                }//end &:before, &:after

                @include breakpoint (small only) {
                    flex-direction: column;
                }//end small only breakpoint
            }//end & > .row

            &__media {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                min-height: 150px;

                @include breakpoint (small only) {
                    width: 100%;
                    min-height: 200px;
                }//end small only breakpoint
            }//end &__media
            &__content {
                background-color: get-color(inverse);
                padding: $spacing--sm;

                @include breakpoint (small only) {
                    width: 100%;
                }//end small only breakpoint

                h4 {
                    font-family: $font--body;
                    font-weight: $font-weight--bold;
                    font-size: 1.5rem;
                    margin-bottom: $spacing--xs;
                }//end h4
            }//end &__Content
        }//end &__card
    }//end .sl_continuing-care

    .sl_aftercare {
        padding: $spacing--xxl 0;

        @include breakpoint (medium only) {
            padding: $spacing--lg 0;
        }//end medium only breakpoint

        @include breakpoint (small only) {
            padding: $spacing--md 0;
        }//end small only breakpoint

        h3 {
            font-family: $font--body;
        }//end h3

        &__services {
            & > .sl_row {
                display: flex;
                flex-flow: row wrap;

                &:before, &:after {
                    display: none;
                }//end &:before, &:after
            }//end> .sl_row
        }//end &__services

        &__items {
            margin-bottom: $spacing--sm;

            @include breakpoint (small only) {
                padding: 0;
                margin-bottom: $spacing--xs;
            }//end small only breakpoint

            &:nth-child(5n + 1) {
                .sl_aftercare__card__image {
                    background-color: get-color(primary);
                }//end .sl_aftercare__card__image
            }//end &:nth-child
            &:nth-child(5n + 2) {
                .sl_aftercare__card__image {
                    background-color: get-color(accent1);
                }//end .sl_aftercare__card__image
            }//end &:nth-child
            &:nth-child(5n + 3) {
                .sl_aftercare__card__image {
                    background-color: get-color(accent3);
                }//end .sl_aftercare__card__image
            }//end &:nth-child
            &:nth-child(5n + 4) {
                .sl_aftercare__card__image {
                    background-color: get-color(secondary);
                }//end .sl_aftercare__card__image
            }//end &:nth-child
            &:nth-child(5n + 5) {
                .sl_aftercare__card__image {
                    background-color: get-color(accent2);
                }//end .sl_aftercare__card__image
            }//end &:nth-child
        }//end &__items

        &__card {
            border-radius: $border-radius;
            box-shadow: $shadow;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: 100%;
            width: 100%;

            &__image {
                flex: 0 0 auto;
                padding: $spacing--xs/2;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20%;

                img {
                    max-height: 72px;
                    width: auto;
                }//end img
            }//end &__image

            &__content {
                background-color: #F2F3F4;
                flex: 1 1 0px;
                padding: $spacing--xs;
                display: flex;
                align-items: center;
                justify-content: center;
                width: auto;

                p {
                    font-weight: $font-weight--bold;
                    width: 100%;

                    @include breakpoint (medium down) {
                        font-size: 1rem;
                    }//end medium down breakpoint
                }//end p

                & > :last-child {
                    margin-bottom: 0;
                }//end & > :last-child
            }//end &__content
        }//end &__card

        ul {
            font-size: 1.25rem;
            line-height: 1.25;
            font-weight: $font-weight--regular;
            p:empty {
                display: none;
            }//end empty p

            li {
                margin-bottom: $spacing--xs/2;
            }//end li
        }//end ul
    }//end .sl_aftercare

    .sl_callout-cta {
        background-color: get-color(accent2);
        padding: 0;

        & > .sl_inner {
            & > .sl_row {
                max-width: none;
                display: flex;
                flex-flow: row wrap;

                &:before, &:after {
                    display: none;
                }//end &:before, &:after
            }//end & > .sl_row
        }//end & > .sl_inner

        &__media {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;

            @include breakpoint (small only) {
                height: 250px;
            }//end small only breakpoint
        }//end &__media

        &__content {
            text-align:center;
            padding: $spacing--xxl;

            max-width: 1440px * .66666667;

            @include breakpoint (small only) {
                padding: $spacing--md;
            }//end small only breakpoint

            h2 {
                color: get-color(inverse);
                text-align: center;
            }//end h2

            .sl_button--phone {
                color: get-color(inverse);
                margin-right: $spacing--md;

                @include breakpoint (small only) {
                    margin-right: 0;
                }//end small only breakpoint
            }//end .sl_button--phone

            .sl_button {
                flex: 0 0 auto;
            }//end .sl_button
        }//end &__content
    }//end .sl_callout-cta
}//end #sl_professionals