/*FRN Custom stlyes for talbott*/

#global-side-nav a#gsn-main-button {
	  box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.15);
	}
	#home-banner {position: relative;}
	#home-banner::before {
  background: rgba(25, 83, 118, 0) linear-gradient(to top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0)) repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
	
/**changing the positioning of the banner image on home on mobile **/	

	
@media (max-width: 767px) {	
/***making the contact button a bit smaller on mobile **/
		#global-side-nav a, #global-side-nav span {
  height: 65px;
  width: 65px;
}
	#global-side-nav a#gsn-main-button {
  line-height: 65px;
}
#global-side-nav a, #global-side-nav span {font-size: 1rem;}
#gsn-links.gsn-opened ul li.gsn-link-1 {
  bottom: 95px;
}
#gsn-links.gsn-opened ul li.gsn-link-2 {
  bottom: 160px;
}
#gsn-links.gsn-opened ul li.gsn-link-3 {
  bottom: 215px;
}
#gsn-links ul li, #gsn-button-box {right: 15px;}

#home-banner-mobile {
    display: block;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover; }
}
/***
Repsonsive Embedd options
***/
.flex-video embed, .flex-video iframe, .flex-video object, .flex-video video, .responsive-embed embed, .responsive-embed iframe, .responsive-embed object, .responsive-embed video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flex-video, .responsive-embed {
  position: relative;
  height: 0;
  margin-bottom: 1rem;
  padding-bottom: 75%;
  overflow: hidden;
}

.responsive-embed.widescreen, .flex-video.widescreen {
  padding-bottom: 56.25%;
}


/*-----------------
FOOTER ACCREDITATIONS
-------------------*/
.row.footer-accreditations{
    max-width: 900px !important;
    margin: 0 auto;
    padding-top: 2rem;
}

.row.footer-accreditations .columns{
    height: 150px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row.footer-accreditations .naatp-logo{
    width: 190px;
    height:60px;
    margin: 0 auto;
}

.row.footer-accreditations .joint-commission {
  width:95px;
  text-align:center;
}

.joint-commission-font {
  font-size:12px;
}

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .joint-commission-font {
    padding-right:2rem;
    padding-left:2rem;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em)  {
  .joint-commission-font {
    padding-right:2rem;
    padding-left:2rem;
  } 
}



.row.georgia-accreds .column {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
/*-----------------
END FOOTER ACCREDITATIONS
-------------------*/

/*-----------------
Remove ReCaptcha badge
-------------------*/

div.grecaptcha-badge {
  display:none !important;
  }

  /*-----------------
  End Remove ReCaptcha badge
  -------------------*/